.button {
  font-family: "PT Sans", serif;
  font-size: 1.8rem;
  padding: 0.5em 1.5em;
  outline: none;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.3px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  background-color: #fff;
  z-index: -1;
}

.button:hover {
  color: black;
  font-weight: bold;
}

.button__collection {
  display: block;
  margin: 0 auto;
}

.button__collection:hover.button__collection::before {
  left: 0;
}

.button__twoeight:hover.button__twoeight::before {
  left: 0;
}

.button__footer {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #0f0f0f;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.button__buy-goods:hover,
.button__sumbit-goods:hover {
  color: white;
  font-weight: normal;
}

.delete-goods {
  text-align: center;
}

.delete-goods:hover {
  color: white;
  font-weight: normal;
}

.checkout {
  display: none;
  position: absolute;
  font-size: 1.5rem;
  top: 55px;
  right: 55px;
  text-align: center;
}

.checkout:hover {
  color: white;
  font-weight: normal;
}

.valide-purchase {
  text-align: center;
}

.valide-purchase:hover {
  color: white;
  font-weight: normal;
}

.backToStore {
  text-align: center;
}

.backToStore:hover {
  color: white;
  font-weight: normal;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff"), url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

.header {
  min-height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: gray;
  overflow: hidden;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.header .shopping-cart {
  background: url("../img/logo_buy.png") center center/contain no-repeat;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  position: relative;
}

.header .shopping-cart:hover {
  color: black !important;
}

.header .shopping-cart > .count-goods {
  position: absolute;
  top: 20px;
  right: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 1;
}

.header_fixed-in {
  top: -100%;
  position: fixed;
  left: 0;
  width: 100%;
}

.header_fixed {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.header__top {
  background-color: #000;
  padding: 14px 0;
  font-size: 1.2rem;
}

.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid gray;
}

.header__top li:last-child {
  border-right: none;
}

.header__top li:hover {
  color: #fff;
}

.header__top li:first-child img {
  width: 22px;
  height: 20px;
  margin-right: 10px;
}

.header__info {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-link {
  text-decoration: none;
  color: gray;
}

.header-link:hover {
  color: #fff;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login .header-img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.header__login .header-img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-text:hover {
  color: #fff;
}

.header__bottom {
  min-height: 80px;
  background-color: #0F0F0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.header__bottom .nav-item {
  padding: 31px 20px;
}

.header__bottom .nav-item:hover,
.header__bottom .nav-item_active {
  background-color: #1f1f1f;
  color: #fff;
}

.header-logo a {
  font-family: 'PostNoBillsJaffna',serif;
  color: #fff;
  text-decoration: none;
  font-size: 3.6rem;
}

#workTime {
  position: relative;
}

.openMes,
.closeMes {
  position: absolute;
  top: -250%;
  left: -10px;
  background-color: black;
  color: #fff;
  width: 100px;
  height: 20px;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.openMes_active,
.closeMes_active {
  top: -5px;
}

.closeMes_active {
  top: -5px;
}

.main {
  min-height: 810px;
  padding: 160px 0;
  background: url("../img/main_bg.png") center center/cover no-repeat;
  background-attachment: fixed !important;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  max-width: 730px;
  margin: 0 auto;
  overflow: hidden;
}

.main__title {
  border: 5px solid #fff;
  padding: 93px 68px;
  margin-bottom: 80px;
}

.main-header {
  font-family: 'PostNoBillsJaffna', serif;
  line-height: 1;
  font-size: 6.4rem;
}

.main-header:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 2px;
  margin-bottom: 7px;
}

.main-text {
  font-size: 2.2rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: regular;
  line-height: 1;
}

.main__descr {
  font-family: 'PT Sans',serif;
  font-weight: regular;
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: center;
}

.collection {
  font-family: 'Playfair Display',serif;
}

.collection__wrapper {
  display: grid;
  grid-template: minmax(730px, 1fr)/minmax(860px, 1fr) 1fr;
}

.collection__wrapper-second {
  display: grid;
  grid-template: minmax(600px, 1fr)/1fr minmax(860px, 1fr);
}

.collection__items {
  padding: 93px 0;
  color: #fff;
}

.collection .items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__item_active {
  background-color: #191b1c;
}

.collection__img {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 300px;
  background-color: #191b1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.collection__img:hover .collection__buy {
  left: 0;
}

.collection__img img {
  width: 215px;
  height: 215px;
}

.collection__title {
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 10px;
}

.collection__price {
  color: gray;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.collection__new {
  background: url("../img/collection_bg.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__new > .new__wrapper {
  margin-top: 500px;
}

.collection__new > .new__wrapper > h2.title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 26px;
}

.collection__new > .new__wrapper > h2.title::after {
  height: 2px;
}

.collection__backImg {
  background: url("../img/collection_bg_two.png") center center/cover no-repeat;
}

.collection__twoeight {
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.collection__twoeight h2.title {
  margin-bottom: 40px;
}

.collection__twoeight > .wrapper {
  width: 480px;
  margin: 0 auto;
}

.collection__twoeight .descr {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 61px;
}

.collection__buy {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__buy img {
  display: block;
  width: 150px;
  height: 150px;
}

.goods {
  padding: 120px 0px 150px;
  color: white;
  min-height: 1289px;
}

.goods .title {
  margin-bottom: 81px;
}

.goods__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods .collection__item {
  margin-bottom: 15px;
}

.brand {
  min-height: 362px;
  background-color: #0f0f0f;
  padding: 60px 0 80px;
  color: #fff;
}

.brand > .container {
  font-weight: bold;
}

.brand .title {
  margin-bottom: 40px;
}

.brand__img {
  width: 255px;
  height: 94px;
}

.brand__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 450px;
  color: #fff;
}

.footer__top {
  min-height: 400px;
  background: url("../img/footer_bg.png") center center/cover no-repeat;
  padding: 80px 0 101px;
}

.footer__title {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 40px;
  line-height: 1;
}

.footer__descr {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 37px;
  font-weight: lighter;
}

.footer__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  padding: 10px 20px;
  background-color: #0f0f0f;
  margin: 0px 20px 20px 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form input {
  width: 210px;
  height: 41px;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.footer__form input:focus {
  border: 1px solid #fff;
}

.footer__form ::-webkit-input-placeholder {
  color: #c0c0c0;
  font-weight: normal;
}

.footer__bottom {
  padding: 17px 0 17px;
}

.footer__bottom .container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d0d0d0;
  font-size: 1.2rem;
}

.footer__link {
  color: #d0d0d0;
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.overlay .close {
  position: absolute;
  right: 28px;
  top: 28px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  cursor: pointer;
  color: white;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.overlay .close:hover {
  opacity: 1;
}

.overlay .close:before,
.overlay .close:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 2px;
  background-color: #fff !important;
}

.overlay .close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay .close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay .success__purchase {
  display: none;
}

.overlay .success__purchase > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .success__purchase > .wrapper .question__block {
  font-size: 3rem;
}

.overlay .success__purchase > .wrapper .question__block .wrapper {
  text-align: center;
}

.overlay .success__purchase > .wrapper .question__block .button-yes:hover,
.overlay .success__purchase > .wrapper .question__block .button-no:hover {
  color: white !important;
  font-weight: normal;
}

.overlay .checkout-block {
  display: none;
}

.overlay .checkout-block > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .checkout-block > .wrapper h2.title {
  margin-bottom: 10px;
}

.overlay .checkout-block > .wrapper form {
  position: relative;
}

.overlay .checkout-block > .wrapper form > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .checkout-block > .wrapper form input,
.overlay .checkout-block > .wrapper form textarea {
  padding: 15px;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay .checkout-block > .wrapper form textarea {
  resize: none;
  height: 150px;
}

.overlay .checkout-block > .wrapper form input::-webkit-outer-spin-button,
.overlay .checkout-block > .wrapper form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.overlay .checkout-block > .wrapper form .required-input {
  position: absolute;
  top: -11px;
  right: -17px;
  color: white;
  font-size: 3rem;
}

.overlay .afterCkecout {
  display: none;
  color: white;
}

.overlay .afterCkecout > .wrapper {
  text-align: center;
}

.overlay .afterCkecout h2.title {
  margin-bottom: 10px;
}

.overlay .catalog {
  width: 70%;
  display: none;
}

.overlay .catalog .wrapper__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
}

.overlay .catalog .wrapper__catalog .collection__item {
  color: white;
  margin: 15px;
}

.buy__window {
  display: none;
  color: #fff;
}

.buy__window .wrapper {
  width: 600px;
  margin: 0 auto;
}

.buy__window .title {
  margin-bottom: 30px;
}

.buy__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods__img {
  margin-right: 30px;
}

.goods__img img {
  width: 215px;
  height: 215px;
}

.goods__name {
  font-size: 3rem;
  margin-bottom: 10px;
  line-height: 1;
}

.goods__price {
  font-size: 2.5rem;
  line-height: 1;
  margin-right: 5px;
}

.goods__count-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
}

.goods-minus,
.goods-count,
.goods-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 55px;
  font-size: 5rem;
  line-height: 1;
  background-color: #0f0f0f;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.goods-count {
  background-color: black;
  cursor: text;
}

.goods-price-cur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.goods__currency {
  font-size: 2rem;
}

.shopcart {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 7;
  height: 100vh;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0 0 20px;
  -webkit-transition: all 1s 0s ease-out;
  -o-transition: all 1s 0s ease-out;
  transition: all 1s 0s ease-out;
  overflow-x: hidden;
  overflow-y: scroll;
}

.shopcart_active {
  right: 0;
}

.shopcart-close {
  position: absolute;
  z-index: 8;
  top: 15px;
  right: 15px;
  font-size: 4rem;
  color: #8a8a8a;
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.shopcart-close:hover {
  color: white;
}

.shopcart-suma {
  position: absolute;
  top: 55px;
  font-size: 2rem;
  color: white;
  margin: 0 auto;
}

.shopcart h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: 'PT Sans', sans-serif;
}

.shopcart h2::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #1f1f1f;
  width: 150px;
  margin: 15px auto;
}

.shopcart .shop__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopcart .shop-item {
  display: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-bottom: 2px solid #1f1f1f;
  margin-bottom: 10px;
  padding-bottom: 20px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.shopcart .shop-item_added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopcart .shop-item_deletted {
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
}

.shopcart .shop-count {
  margin-bottom: 10px;
}

.shopcart .shop__img {
  margin-right: 10px;
  width: 215px;
  height: 215px;
}

.screensaver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 999;
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  color: white;
  font-family: 'PostNoBillsJaffna', serif;
  overflow: hidden;
}

.screensaver-left,
.screensaver-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 1s all 0s ease-in-out;
  -o-transition: 1s all 0s ease-in-out;
  transition: 1s all 0s ease-in-out;
}

.screensaver-left_hidden,
.screensaver-right_hidden {
  -webkit-transform: skewY(10deg) rotateY(180deg) translateX(-110%);
          transform: skewY(10deg) rotateY(180deg) translateX(-110%);
}

.screensaver-left .left-text,
.screensaver-left .right-text,
.screensaver-right .left-text,
.screensaver-right .right-text {
  padding: 93px 0 94px 69px;
  border: 3px solid white;
  border-right: none;
  text-align: right;
}

.screensaver-left .left-text .title,
.screensaver-left .right-text .title,
.screensaver-right .left-text .title,
.screensaver-right .right-text .title {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
}

.screensaver-left .left-text .title::after,
.screensaver-left .right-text .title::after,
.screensaver-right .left-text .title::after,
.screensaver-right .right-text .title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 7px;
}

.screensaver-left .left-text .text,
.screensaver-left .right-text .text,
.screensaver-right .left-text .text,
.screensaver-right .right-text .text {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
}

.screensaver-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 1s all 0s ease-in-out;
  -o-transition: 1s all 0s ease-in-out;
  transition: 1s all 0s ease-in-out;
}

.screensaver-right .right-text {
  padding: 93px 69px 94px 0;
  border-left: none;
  border-right: 3px solid white;
  text-align: left;
}

.screensaver-right_hidden {
  -webkit-transform: skewY(-10deg) rotateY(180deg) translateX(110%);
          transform: skewY(-10deg) rotateY(180deg) translateX(110%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  overflow-x: hidden !important;
  position: relative;
}

.container {
  width: 1100px;
}

h2.title {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: 'Playfair Display',serif;
  text-align: center;
}

h2.title::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 2px;
  background-color: gray;
  margin-top: 25px;
}

.toTop {
  width: 50px;
  height: 50px;
  background-color: #252525;
  position: fixed;
  bottom: -100%;
  right: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.toTop_active {
  bottom: -10px;
}

.toTop:hover {
  bottom: -5px;
}

.toTop img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1300px) {
  .collection__wrapper {
    grid-template: minmax(730px, 1fr) 300px/1fr;
  }

  .collection .new__wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 1199px) {
  .footer__title,
  .footer__descr {
    margin-bottom: 15px;
  }

  .brand__img {
    width: 210px;
  }

  .brand__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .goods__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods__wrapper .collection__item {
    margin: 15px;
  }
}

@media (max-width: 991px) {
  .brand__img {
    width: 180px;
  }
}

@media (max-width: 910px) {
  .collection__wrapper-second {
    grid-template: 350px minmax(300px, 1fr)/1fr;
  }

  .collection__wrapper-second .collection__backImg {
    background-attachment: fixed;
  }

  .shopcart {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .header__info li:nth-child(2) {
    display: none;
  }

  .collection__wrapper {
    grid-template: 1fr/ 1fr;
  }

  .collection__wrapper-second {
    grid-template: 300px minmax(300px, 1fr)/1fr;
  }

  .collection .items__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .collection__item {
    margin-bottom: 15px;
  }

  .collection__new {
    padding: 15px 0;
  }

  .goods__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .goods__wrapper .collection__item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .brand__img {
    width: 260px;
  }
}

@media (max-width: 575px) {
  .container {
    width: auto;
  }

  #workTime {
    display: none;
  }

  .collection__twoeight .wrapper {
    width: auto;
  }

  .overlay .success__purchase h2.title {
    font-size: 2.5rem;
  }

  .overlay .success__purchase .question {
    font-size: 2.1rem;
    margin-bottom: 5px;
  }

  .overlay .success__purchase button {
    font-size: 1.7rem;
  }

  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__form input {
    margin-bottom: 10px;
  }

  .footer__form button {
    width: 210px;
  }

  .buy__window .wrapper {
    width: auto;
  }

  .buy__window h2.title {
    font-size: 2.3rem;
  }

  .buy__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .overlay .close {
    right: -2px;
    top: 18px;
  }

  .shop__items-wrapper {
    padding-top: 80px;
  }

  .shop-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .shop-item .shop__info {
    font-size: 1.6rem;
  }

  .shopcart .shop__img {
    width: 150px;
    height: 150px;
  }

  .shopcart .shop__img img {
    display: block;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .shopcart button#ckeckout {
    top: 120px !important;
  }

  .shopcart-close {
    top: 60px;
    right: 5px;
  }

  .shopcart-suma {
    font-size: 1.7rem;
  }
}
@supports (-webkit-appearance:none){
.header .shopping-cart{background:url("../img/logo_buy.webp") center center/contain no-repeat}
.main{background:url("../img/main_bg.webp") center center/cover no-repeat}
.collection__new{background:url("../img/collection_bg.webp") center center/cover no-repeat}
.collection__backImg{background:url("../img/collection_bg_two.webp") center center/cover no-repeat}
.footer__top{background:url("../img/footer_bg.webp") center center/cover no-repeat}
}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 910px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}
